<aside class="ms-footbar">
	<div class="container">
		<div class="row">
			<div class="col-md-4 ms-footer-col">
				<div class="ms-footbar-block">
					<h3 class="ms-footbar-title">Sitemap</h3>
					<ul class="list-unstyled ms-icon-list three_cols">
						<li><a href="{{ site.url }}">
								<i class="zmdi zmdi-home"></i> Home</a>
						</li>
						<li><a href="{{ site.url }}/hosting" title="Hosting Website Murah">
								<i class="zmdi zmdi-shield-check"></i> Hosting</a>
						</li>
						<li><a href="{{ site.url }}/hosting-murah" title="Hosting Website Murah">
								<i class="zmdi zmdi-globe"></i> Murah</a>
						</li>
					</ul>
				</div>
				<div class="ms-footbar-block">
					<h3 class="ms-footbar-title">Tentang</h3>
					<p class="">
						Web dan aplikasi dikelola personal dengan pengalaman Php, Node, Mysql, Mongodb, Python, bash script didukung git dan npm.
					</p>
				</div>
			</div>
			<div class="col-md-5 col-sm-7 ms-footer-col ms-footer-alt-color">
				<div class="ms-footbar-block">
					<h3 class="ms-footbar-title text-center mb-2">&nbsp;</h3>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Banner kotak -->
					<ins class="adsbygoogle"
										style="display:block"
										data-ad-client="ca-pub-8797559827267652"
										data-ad-slot="5650876612"
										data-ad-format="auto"></ins>
					<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
				</div>
			</div>
			<div class="col-md-3 col-sm-5 ms-footer-col ms-footer-text-right">
				<div class="ms-footbar-block">
					<div class="ms-footbar-title">
						<span class="ms-logo ms-logo-red ms-logo-sm mr-1">A</span>
						<h3 class="no-m ms-site-title">Aksisoft
							<span>MEDIA</span>
						</h3>
					</div>
					<address class="no-mb">
						<p>
							<i class="color-danger-light zmdi zmdi-pin mr-1"></i> Griya Candi Asri </p>
						<p>
							<i class="color-warning-light zmdi zmdi-map mr-1"></i> Sidoarjo, Jawa Timur</p>
						<p>
							<i class="color-info-light zmdi zmdi-email mr-1"></i>
							<a href="mailto:{{ site.email }}">{{ site.email }}</a>
						</p>
						<p>
							<i class="color-royal-light zmdi zmdi-phone mr-1"></i>{{ site.whatsapp }} </p>
					</address>
				</div>
				<div class="ms-footbar-block">
					<h3 class="ms-footbar-title">Social Media</h3>
					<div class="ms-footbar-social">
						<a href="{{ site.facebook }}" class="btn-circle btn-facebook">
							<i class="zmdi zmdi-facebook"></i>
						</a>
						<a href="{{ site.twitter }}" class="btn-circle btn-twitter">
							<i class="zmdi zmdi-twitter"></i>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-youtube">
							<i class="zmdi zmdi-youtube"></i>
						</a>
						<br>
						<a href="javascript:void(0)" class="btn-circle btn-google">
							<i class="zmdi zmdi-google"></i>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-instagram">
							<i class="zmdi zmdi-instagram"></i>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-github">
							<i class="zmdi zmdi-github"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</aside>
<footer class="ms-footer">
	<div class="container">
		<p>Copyright &copy; Aksisoft MEDIA Jasa Website, Android, Web Hosting</p>
	</div>
</footer>
<div class="btn-back-top">
	<a href="#" data-scroll="" id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
		<i class="zmdi zmdi-long-arrow-up"></i>
	</a>
</div>