<li>
	<a class="link" href="http://aksisoft.com/index">
		<i class="zmdi zmdi-home"></i> Home</a>
</li>
<li class="panel" role="tab" id="saplikasiwordpress">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#aplikasiwordpress" 
				aria-expanded="false" aria-controls="aplikasiwordpress">
		<i class="zmdi zmdi-desktop-windows"></i> Aplikasi Wordpress </a>
	<ul id="aplikasiwordpress" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="saplikasiwordpress">
		<li>
			<a href="#">Aplikasi Wordpress Berita</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="sdemoaplikasiwordpress">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#demoaplikasiwordpress" 
				aria-expanded="false" aria-controls="demoaplikasiwordpress">
		<i class="zmdi zmdi-open-in-new"></i> Demo Aplikasi Wordpress </a>
	<ul id="demoaplikasiwordpress" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="sdemoaplikasiwordpress">
	</ul>
</li>
<li class="panel" role="tab" id="shostingindonesia">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#hostingindonesia" 
				aria-expanded="false" aria-controls="hostingindonesia">
		<i class="zmdi zmdi-shield-check"></i> Hosting Indonesia </a>
	<ul id="hostingindonesia" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="shostingindonesia">
		<li>
			<a href="http://aksisoft.com/produk/hosting">Hosting Indonesia</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="shostingmurah">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#hostingmurah" 
				aria-expanded="false" aria-controls="hostingmurah">
		<i class="zmdi zmdi-globe"></i> Hosting Murah </a>
	<ul id="hostingmurah" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="shostingmurah">
		<li>
			<a href="http://aksisoft.com/produk/hosting-murah">Hosting Murah</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="smandatapp">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#mandatapp" 
				aria-expanded="false" aria-controls="mandatapp">
		<i class="zmdi zmdi-storage"></i> MandatApp </a>
	<ul id="mandatapp" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="smandatapp">
		<li>
			<a href="http://mandatapp.com">Mandat-app website</a>
		</li>
		<li>
			<a href="http://aksisoft.com/produk/mandatapp-detail">Mandat-app</a>
		</li>
		<li>
			<a href="http://aksisoft.com/produk/mandatapp-update">New Update</a>
		</li>
		<li>
			<a href="http://aksisoft.com/produk/mandatapp-changelog">Changelog</a>
		</li>
		<li>
			<a href="http://aksisoft.com/produk/mandatapp-order">Sewa Mandat-app</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="sweddingdanprewedding">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#weddingdanprewedding" 
				aria-expanded="false" aria-controls="weddingdanprewedding">
		<i class="zmdi zmdi-movie-alt"></i> Wedding dan Prewedding </a>
	<ul id="weddingdanprewedding" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="sweddingdanprewedding">
		<li>
			<a href="http://aksisoft.com/produk/weddingdanprewedding-paket">Paket Wedding dan Prewedding</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="sphotobooth">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#photobooth" 
				aria-expanded="false" aria-controls="photobooth">
		<i class="zmdi zmdi-camera-bw"></i> Photobooth </a>
	<ul id="photobooth" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="sphotobooth">
		<li>
			<a href="http://aksisoft.com/produk/photobooth-murah">Paket Photobooth</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="sfotodokumentasi">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#fotodokumentasi" 
				aria-expanded="false" aria-controls="fotodokumentasi">
		<i class="zmdi zmdi-book-image"></i> Foto Dokumentasi </a>
	<ul id="fotodokumentasi" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="sfotodokumentasi">
		<li>
			<a href="http://aksisoft.com/produk/fotodokumentasi-paket">Paket Jasa Foto Dokumentasi</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="splakatakrilik">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#plakatakrilik" 
				aria-expanded="false" aria-controls="plakatakrilik">
		<i class="zmdi zmdi-graduation-cap"></i> Plakat Akrilik </a>
	<ul id="plakatakrilik" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="splakatakrilik">
		<li>
			<a href="http://aksisoft.com/produk/plakatakrilik-paket">Paket Plakat/Piala Akrilik</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="ssewabaju">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#sewabaju" 
				aria-expanded="false" aria-controls="sewabaju">
		<i class="zmdi zmdi-account-calendar"></i> Sewa Baju </a>
	<ul id="sewabaju" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="ssewabaju">
		<li>
			<a href="http://aksisoft.com/produk/sewabaju-wisuda">Paket Sewa baju Wisuda</a>
		</li>
		<li>
			<a href="http://aksisoft.com/produk/sewabaju-manasik">Paket Sewa baju Manasik</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="sbinarytrading">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#binarytrading" 
				aria-expanded="false" aria-controls="binarytrading">
		<i class="zmdi zmdi-puzzle-piece"></i> Binary Trading </a>
	<ul id="binarytrading" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="sbinarytrading">
		<li>
			<a href="http://binarytool.ga">Binarytool v-1.6.3 Beta</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="skpu">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#kpu" 
				aria-expanded="false" aria-controls="kpu">
		<i class="zmdi zmdi-globe"></i> KPU </a>
	<ul id="kpu" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="skpu">
		<li>
			<a href="http://aksisoft.com/studi/kpu-dpt-dapil-geomap-tagging-kpu-kab-kota">DPT, Dapil, GEOmap dan Tagging untuk KPU Kab/Kota</a>
		</li>
		<li>
			<a href="http://aksisoft.com/studi/kpu-android-app-kab-kota">Aplikasi android dinamis KPU Kab/Kota</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="swordpress">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#wordpress" 
				aria-expanded="false" aria-controls="wordpress">
		<i class="zmdi zmdi-edit"></i> Wordpress </a>
	<ul id="wordpress" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="swordpress">
		<li>
			<a href="http://aksisoft.com/tutorial/wordpress-membuat-halaman">Membuat Halaman</a>
		</li>
		<li>
			<a href="http://aksisoft.com/tutorial/wordpress-menambahkan-user">Menambah User</a>
		</li>
		<li>
			<a href="http://aksisoft.com/tutorial/wordpress-membuat-posting-berita">Membuat posting Berita dengan category</a>
		</li>
	</ul>
</li>
<li class="panel" role="tab" id="swpwoocommerce">
	<a class="collapsed" role="button" data-toggle="collapse" 
				data-parent="#slidebar-menu" href="#wpwoocommerce" 
				aria-expanded="false" aria-controls="wpwoocommerce">
		<i class="zmdi zmdi-shopping-cart"></i> WP Woocommerce </a>
	<ul id="wpwoocommerce" 
					class="panel-collapse collapse" role="tabpanel" aria-labelledby="swpwoocommerce">
		<li>
			<a href="http://aksisoft.com/tutorial/wpwoocommerce-manambah-customer-via-admin">Menambahkan Customer via admin</a>
		</li>
		<li>
			<a href="http://aksisoft.com/tutorial/wpwoocommerce-manambah-produk-jualan">Menambahkan Produk Penjualan</a>
		</li>
	</ul>
</li>
<li>
	<a class="link" href="http://aksisoft.com/kontak">
		<i class="zmdi zmdi-account-box"></i> Kontak</a>
</li>