<nav class="navbar navbar-static-top yamm ms-navbar ms-navbar-dark">
	<div class="container container-full">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ site.url }}/">
				<span class="ms-logo ms-logo-sm">A</span>
				<span class="ms-title">Aksisoft 
					<strong>MEDIA</strong>
				</span>
			</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class='active'><a href='{{ site.url }}/index' title='Home'>Home</a></li>
				<li class=" dropdown">
					<a href="javascript:void(0)" 
								class="dropdown-toggle animated fadeIn animation-delay-4" 
								data-toggle="dropdown" 
								data-hover="dropdown" data-name="produk">Produk                <i class="zmdi zmdi-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<div class="ms-menu-double">
								<ul class="ms-menu-double-main-menu">
									<li>
										<a href="#aplikasiwordpress-1" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-desktop-windows"></i> Aplikasi Wordpress</a>
									</li>
									<li>
										<a href="#demoaplikasiwordpress-2" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-open-in-new"></i> Demo Aplikasi Wordpress</a>
									</li>
									<li>
										<a href="#hostingindonesia-3" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-shield-check"></i> Hosting Indonesia</a>
									</li>
									<li>
										<a href="#hostingmurah-4" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-globe"></i> Hosting Murah</a>
									</li>
									<li>
										<a href="#mandatapp-5" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-storage"></i> MandatApp</a>
									</li>
									<li>
										<a href="#weddingdanprewedding-6" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-movie-alt"></i> Wedding dan Prewedding</a>
									</li>
									<li>
										<a href="#photobooth-7" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-camera-bw"></i> Photobooth</a>
									</li>
									<li>
										<a href="#fotodokumentasi-8" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-book-image"></i> Foto Dokumentasi</a>
									</li>
									<li>
										<a href="#plakatakrilik-9" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-graduation-cap"></i> Plakat Akrilik</a>
									</li>
									<li>
										<a href="#sewabaju-10" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-account-calendar"></i> Sewa Baju</a>
									</li>
								</ul>
								<div class="tab-content ms-menu-double-submenu-container">
									<div class="tab-pane" id="aplikasiwordpress-1">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="#" target="_blank">
													Aplikasi Wordpress Berita</a>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="demoaplikasiwordpress-2">
										<ul class="ms-menu-double-submenu">
										</ul>
									</div>
									<div class="tab-pane" id="hostingindonesia-3">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/produk/hosting" >
													Hosting Indonesia</a>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="hostingmurah-4">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/produk/hosting-murah" >
													Hosting Murah</a>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="mandatapp-5">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="http://mandatapp.com" target="_blank">
													Mandat-app website</a>
											</li>
											<li >
												<a href="{{ site.url }}/produk/mandatapp-detail" >
													Mandat-app</a>
											</li>
											<li >
												<a href="{{ site.url }}/produk/mandatapp-update" >
													New Update</a>
											</li>
											<li >
												<a href="{{ site.url }}/produk/mandatapp-changelog" >
													Changelog</a>
											</li>
											<li >
												<a href="{{ site.url }}/produk/mandatapp-order" >
													Sewa Mandat-app</a>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="weddingdanprewedding-6">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/produk/weddingdanprewedding-paket" >
													Paket Wedding dan Prewedding</a>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="photobooth-7">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/produk/photobooth-murah" >
													Paket Photobooth</a>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="fotodokumentasi-8">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/produk/fotodokumentasi-paket" >
													Paket Jasa Foto Dokumentasi</a>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="plakatakrilik-9">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/produk/plakatakrilik-paket" >
													Paket Plakat/Piala Akrilik</a>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="sewabaju-10">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/produk/sewabaju-wisuda" >
													Paket Sewa baju Wisuda</a>
											</li>
											<li >
												<a href="{{ site.url }}/produk/sewabaju-manasik" >
													Paket Sewa baju Manasik</a>
											</li>
										</ul>
									</div>
								</div>
						</li>
					</ul>
				</li>
				<li class=" dropdown">
					<a href="javascript:void(0)" 
								class="dropdown-toggle animated fadeIn animation-delay-4" 
								data-toggle="dropdown" 
								data-hover="dropdown" data-name="gratisan">Gratisan                <i class="zmdi zmdi-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<div class="ms-menu-double">
								<ul class="ms-menu-double-main-menu">
									<li>
										<a href="#binarytrading-1" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-puzzle-piece"></i> Binary Trading</a>
									</li>
								</ul>
								<div class="tab-content ms-menu-double-submenu-container">
									<div class="tab-pane" id="binarytrading-1">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="http://binarytool.ga" target="_blank">
													Binarytool v-1.6.3 Beta</a>
											</li>
										</ul>
									</div>
								</div>
						</li>
					</ul>
				</li>
				<li class=" dropdown">
					<a href="javascript:void(0)" 
								class="dropdown-toggle animated fadeIn animation-delay-4" 
								data-toggle="dropdown" 
								data-hover="dropdown" data-name="studi">Studi                <i class="zmdi zmdi-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<div class="ms-menu-double">
								<ul class="ms-menu-double-main-menu">
									<li>
										<a href="#kpu-1" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-globe"></i> KPU</a>
									</li>
								</ul>
								<div class="tab-content ms-menu-double-submenu-container">
									<div class="tab-pane" id="kpu-1">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/studi/kpu-dpt-dapil-geomap-tagging-kpu-kab-kota" >
													DPT, Dapil, GEOmap dan Tagging untuk KPU Kab/Kota</a>
											</li>
											<li >
												<a href="{{ site.url }}/studi/kpu-android-app-kab-kota" >
													Aplikasi android dinamis KPU Kab/Kota</a>
											</li>
										</ul>
									</div>
								</div>
						</li>
					</ul>
				</li>
				<li class=" dropdown">
					<a href="javascript:void(0)" 
								class="dropdown-toggle animated fadeIn animation-delay-4" 
								data-toggle="dropdown" 
								data-hover="dropdown" data-name="tutorial">Tutorial                <i class="zmdi zmdi-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<div class="ms-menu-double">
								<ul class="ms-menu-double-main-menu">
									<li>
										<a href="#wordpress-1" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-edit"></i> Wordpress</a>
									</li>
									<li>
										<a href="#wpwoocommerce-2" data-hover="tab" data-toggle="tab">
											<i class="zmdi zmdi-shopping-cart"></i> WP Woocommerce</a>
									</li>
								</ul>
								<div class="tab-content ms-menu-double-submenu-container">
									<div class="tab-pane" id="wordpress-1">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/tutorial/wordpress-membuat-halaman" >
													Membuat Halaman</a>
											</li>
											<li >
												<a href="{{ site.url }}/tutorial/wordpress-menambahkan-user" >
													Menambah User</a>
											</li>
											<li >
												<a href="{{ site.url }}/tutorial/wordpress-membuat-posting-berita" >
													Membuat posting Berita dengan category</a>
											</li>
										</ul>
									</div>
									<div class="tab-pane" id="wpwoocommerce-2">
										<ul class="ms-menu-double-submenu">
											<li >
												<a href="{{ site.url }}/tutorial/wpwoocommerce-manambah-customer-via-admin" >
													Menambahkan Customer via admin</a>
											</li>
											<li >
												<a href="{{ site.url }}/tutorial/wpwoocommerce-manambah-produk-jualan" >
													Menambahkan Produk Penjualan</a>
											</li>
										</ul>
									</div>
								</div>
						</li>
					</ul>
				</li>
				<li><a href='{{ site.url }}/kontak' title='Kontak'>Kontak</a></li>
			</ul>
		</div>
		<!-- navbar-collapse collapse -->
		<a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu">
			<i class="zmdi zmdi-menu"></i>
		</a>
	</div>
	<!-- container -->
</nav>