<div class="panel-menu collapse" id="collapseMenu">
	<ul class="panel-group ms-collapse-nav" id="components-nav" role="tablist" aria-multiselectable="true">
		<li class="panel" role="tab" id="e1">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c1" aria-expanded="true" aria-controls="c1" class="collapsed withripple">
				<i class="zmdi zmdi-desktop-windows"></i> Aplikasi Wordpress</a>
			<ul id="c1" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="e1">
				<li>
					<a class="withripple " href="#">Aplikasi Wordpress Berita</a>
				</li>
			</ul>
		</li>
		<li class="panel" role="tab" id="e2">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c2" aria-expanded="true" aria-controls="c1" class="collapsed withripple">
				<i class="zmdi zmdi-open-in-new"></i> Demo Aplikasi Wordpress</a>
			<ul id="c2" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="e2">
			</ul>
		</li>
		<li class="panel" role="tab" id="e3">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c3" aria-expanded="true" aria-controls="c1" class="collapsed withripple">
				<i class="zmdi zmdi-shield-check"></i> Hosting Indonesia</a>
			<ul id="c3" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="e3">
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/hosting">Hosting Indonesia</a>
				</li>
			</ul>
		</li>
		<li class="panel" role="tab" id="e4">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c4" aria-expanded="true" aria-controls="c1" class="collapsed withripple">
				<i class="zmdi zmdi-globe"></i> Hosting Murah</a>
			<ul id="c4" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="e4">
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/hosting-murah">Hosting Murah</a>
				</li>
			</ul>
		</li>
		<li class="panel" role="tab" id="e5">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c5" aria-expanded="true" aria-controls="c1" class="withripple">
				<i class="zmdi zmdi-storage"></i> MandatApp</a>
			<ul id="c5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="e5">
				<li>
					<a class="withripple " href="http://mandatapp.com">Mandat-app website</a>
				</li>
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/mandatapp-detail">Mandat-app</a>
				</li>
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/mandatapp-update">New Update</a>
				</li>
				<li>
					<a class="withripple active" href="http://aksisoft.com/produk/mandatapp-changelog">Changelog</a>
				</li>
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/mandatapp-order">Sewa Mandat-app</a>
				</li>
			</ul>
		</li>
		<li class="panel" role="tab" id="e6">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c6" aria-expanded="true" aria-controls="c1" class="collapsed withripple">
				<i class="zmdi zmdi-movie-alt"></i> Wedding dan Prewedding</a>
			<ul id="c6" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="e6">
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/weddingdanprewedding-paket">Paket Wedding dan Prewedding</a>
				</li>
			</ul>
		</li>
		<li class="panel" role="tab" id="e7">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c7" aria-expanded="true" aria-controls="c1" class="collapsed withripple">
				<i class="zmdi zmdi-camera-bw"></i> Photobooth</a>
			<ul id="c7" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="e7">
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/photobooth-murah">Paket Photobooth</a>
				</li>
			</ul>
		</li>
		<li class="panel" role="tab" id="e8">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c8" aria-expanded="true" aria-controls="c1" class="collapsed withripple">
				<i class="zmdi zmdi-book-image"></i> Foto Dokumentasi</a>
			<ul id="c8" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="e8">
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/fotodokumentasi-paket">Paket Jasa Foto Dokumentasi</a>
				</li>
			</ul>
		</li>
		<li class="panel" role="tab" id="e9">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c9" aria-expanded="true" aria-controls="c1" class="collapsed withripple">
				<i class="zmdi zmdi-graduation-cap"></i> Plakat Akrilik</a>
			<ul id="c9" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="e9">
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/plakatakrilik-paket">Paket Plakat/Piala Akrilik</a>
				</li>
			</ul>
		</li>
		<li class="panel" role="tab" id="e10">
			<a role="button" data-toggle="collapse" data-parent="#components-nav" 
						href="#c10" aria-expanded="true" aria-controls="c1" class="collapsed withripple">
				<i class="zmdi zmdi-account-calendar"></i> Sewa Baju</a>
			<ul id="c10" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="e10">
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/sewabaju-wisuda">Paket Sewa baju Wisuda</a>
				</li>
				<li>
					<a class="withripple " href="http://aksisoft.com/produk/sewabaju-manasik">Paket Sewa baju Manasik</a>
				</li>
			</ul>
		</li>
	</ul>
	<!-- ms-collapse-nav -->
</div>