<header class="ms-hero-page ms-hero-bg-info ms-hero-img-airplane">
	<div class="container">
		<div class="text-center">
			<h1 class="color-warning mb-4 animated fadeInDown animation-delay-4">
				Server Shared Hosting
			</h1>
			<p class="lead lead-xl mw-800 center-block color-medium mb-2 animated fadeInDown animation-delay-4"> 
				Kami kelola sepenuhnya 
				<span class="colorStar">Error dan Backup</span>.
				<br> Kami siap sedia handle, 
				<span class="colorStar animation-delay-10">untuk aplikasi aplikasi kami</span>. </p>
			<a href="{{ site.url }}//portfolio" class="btn btn-raised btn-danger animated fadeInUp animation-delay-10">
				<i class="zmdi zmdi-desktop-mac"></i> Lihat Portfolio</a>
			<a href="{{ site.url }}//kontak" class="btn btn-raised btn-info animated fadeInUp animation-delay-10">
				<i class="zmdi zmdi-email"></i> Kontak Kami</a>
		</div>
	</div>
</header>
<section id="pricing">
	<div class="wrap ms-hero-img-meeting ms-hero-bg-royal ms-bg-fixed">
		<div class="container">
			<div class="text-center mb-4">
				<h2 class="uppercase color-white wow fadeInDown animation-delay-2">
					Fully Managed Shared Hosting / Indonesia</h2>
				<p class="lead uppercase color-light wow fadeInDown animation-delay-2">Semua paket Hosting kami bantu manage agar website anda tetap 100% terakses.</p>
			</div>
			<div class="row">
				<div class="col-md-4 price-table price-table-success wow zoomInUp">
					<header class="price-table-header">
						<span class="price-table-category">FMC 500MB / Startup</span>
						<h3>
							<sup>Rp</sup>20.000
							<sub>/Bulan</sub>
						</h3>
					</header>
					<div class="price-table-body">
						<ul class="price-table-list">
							<li>
								<i class="zmdi zmdi-code"></i> 500 MB data/database.</li>
							<li>
								<i class="zmdi zmdi-globe"></i> 1 Add on Domain.</li>
							<li>
								<i class="zmdi zmdi-settings"></i> 2 Database MySQL.</li>
							<li>
								<i class="zmdi zmdi-cloud"></i> 5 Email.</li>
							<li>
								<i class="zmdi zmdi-star"></i> 10 GB Bandwidth.</li>
						</ul>
						<div class="text-center">
							<a href="http://member.aksisoft.com/cart.php?gid=1" 
										target='_blank'
										class="btn btn-success btn-raised">
								<i class="zmdi zmdi-cloud-download"></i> Selengkapnya</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 price-table price-table-primary prominent wow zoomInDown">
					<header class="price-table-header">
						<span class="price-table-category">FMC 1GB / Intermediate</span>
						<h3>
							<sup>Rp</sup>30.000
							<sub>/Bulan</sub>
						</h3>
					</header>
					<div class="price-table-body">
						<ul class="price-table-list">
							<li>
								<i class="zmdi zmdi-code"></i> 1GB data/database.</li>
							<li>
								<i class="zmdi zmdi-globe"></i> 1 Add on Domain.</li>
							<li>
								<i class="zmdi zmdi-settings"></i> 2 Database MySQL.</li>
							<li>
								<i class="zmdi zmdi-cloud"></i> 5 Email.</li>
							<li>
								<i class="zmdi zmdi-star"></i> 30 GB Bandwith.</li>
						</ul>
						<div class="text-center">
							<a href="http://member.aksisoft.com/cart.php?gid=1" 
										target='_blank'
										class="btn btn-success btn-raised">
								<i class="zmdi zmdi-cloud-download"></i> Selengkapnya</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 price-table price-table-royal wow zoomInUp">
					<header class="price-table-header">
						<span class="price-table-category">FMC 2GB / Advanced</span>
						<h3>
							<sup>Rp</sup>55.000
							<sub>/Bulan</sub>
						</h3>
					</header>
					<div class="price-table-body">
						<ul class="price-table-list">
							<li>
								<i class="zmdi zmdi-code"></i> 2GB data/database.</li>
							<li>
								<i class="zmdi zmdi-globe"></i> 2 Add on Domain.</li>
							<li>
								<i class="zmdi zmdi-settings"></i> 3 Database MySQL.</li>
							<li>
								<i class="zmdi zmdi-cloud"></i> 5 Email.</li>
							<li>
								<i class="zmdi zmdi-star"></i> 60 GB Bandwith.</li>
						</ul>
						<div class="text-center">
							<a href="http://member.aksisoft.com/cart.php?gid=1" 
										target='_blank'
										class="btn btn-success btn-raised">
								<i class="zmdi zmdi-cloud-download"></i> Selengkapnya</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--container -->
	</div>
</section>
