<div class="container mt-6">
	<div class="text-center mb-4">
		<h2 class="uppercase color-primary">Shared Hosting Murah</h2>
		<p class="lead uppercase">Server eropa untuk hosting dengan harga murah.</p>
	</div>
	<div class="row">
		<div class="col-md-4 price-table price-table-info wow zoomInUp animation-delay-2">
			<header class="price-table-header">
				<span class="price-table-category">UMC 1GB</span>
				<h3>
					<sup>Rp.</sup>10.000
					<sub>/Bulan</sub>
				</h3>
			</header>
			<div class="price-table-body">
				<ul class="price-table-list">
					<li>
						<i class="zmdi zmdi-code"></i> 1GB data/database.</li>
					<li>
						<i class="zmdi zmdi-globe"></i> 2 Add on Domain.</li>
					<li>
						<i class="zmdi zmdi-settings"></i> 2 Database MySQL.</li>
					<li>
						<i class="zmdi zmdi-cloud"></i> 5 Email.</li>
					<li>
						<i class="zmdi zmdi-star"></i> unlimited GB Bandwidth.</li>
				</ul>
				<div class="text-center">
					<a href="http://member.aksisoft.com/cart.php?gid=3" class="btn btn-info btn-raised">
						<i class="zmdi zmdi-cloud-download"></i> Selengkapnya</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 price-table price-table-success prominent wow zoomInDown animation-delay-2">
			<header class="price-table-header">
				<span class="price-table-category">UMC 3GB</span>
				<h3>
					<sup>Rp.</sup>20.000
					<sub>/Bulan</sub>
				</h3>
			</header>
			<div class="price-table-body">
				<ul class="price-table-list">
					<li>
						<i class="zmdi zmdi-code"></i> 2GB data/database.</li>
					<li>
						<i class="zmdi zmdi-globe"></i> 4 Add on Domain.</li>
					<li>
						<i class="zmdi zmdi-settings"></i> 4 Database MySQL.</li>
					<li>
						<i class="zmdi zmdi-cloud"></i> 5 Email.</li>
					<li>
						<i class="zmdi zmdi-star"></i> unlimited GB Bandwidth.</li>
				</ul>
				<div class="text-center">
					<a href="http://member.aksisoft.com/cart.php?gid=3" class="btn btn-info btn-raised">
						<i class="zmdi zmdi-cloud-download"></i> Selengkapnya</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 price-table price-table-warning wow zoomInUp animation-delay-2">
			<header class="price-table-header">
				<span class="price-table-category">UMC 5GB</span>
				<h3>
					<sup>Rp.</sup>30.000
					<sub>/Bulan</sub>
				</h3>
			</header>
			<div class="price-table-body">
				<ul class="price-table-list">
					<li>
						<i class="zmdi zmdi-code"></i> 5GB data/database.</li>
					<li>
						<i class="zmdi zmdi-globe"></i> 4 Add on Domain.</li>
					<li>
						<i class="zmdi zmdi-settings"></i> 4 Database MySQL.</li>
					<li>
						<i class="zmdi zmdi-cloud"></i> 5 Email.</li>
					<li>
						<i class="zmdi zmdi-star"></i> unlimited GB Bandwidth.</li>
				</ul>
				<div class="text-center">
					<a href="http://member.aksisoft.com/cart.php?gid=3" class="btn btn-info btn-raised">
						<i class="zmdi zmdi-cloud-download"></i> Selengkapnya</a>
				</div>
			</div>
		</div>
	</div>
</div>