<div class="material-background"></div>
<div class="container">
  <div class="text-center mb-6">
    <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">{{ page.title }}</h1>
    <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">{{ page.pf_desc }}</p>
  </div>
  <div class="row">
    <div class="col">
      <div class="row masonry-container">
        {% for pff in pflist %}
        <!-- item -->
        <div class="col-lg-4 col-md-6 masonry-item wow fadeInUp animation-delay-2">
          <div class="card">
            <figure class="ms-thumbnail ms-thumbnail-horizontal">
              <img src="{{ site.url }}/gambar/pf/{{ pff.image }}" alt="" class="img-fluid">
              <figcaption class="ms-thumbnail-caption text-center">
                <div class="ms-thumbnail-caption-content">
                  <h4 class="ms-thumbnail-caption-title mb-2">{{ pff.url }}</h4>
                </div>
              </figcaption>
            </figure>
            <div class="card-body overflow-hidden text-center">
              <h4 class="color-royal">{{ pff.title }}</h4>
              <p>{{ pff.desc }}</p>
            </div>
          </div>
        </div>
        <!-- /item -->
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- container -->