<!DOCTYPE html>
<html lang="en">
	<head>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-8797559827267652",
				enable_page_level_ads: true
			});
		</script>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="theme-color" content="#333">
		<link rel='dns-prefetch' href='//aksisoft.com' />
		<link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
		<title>Aksisoft MEDIA Jasa Pembuatan Website, Android, Web Hosting Surabaya</title>
		<meta name="description" content="Jasa Pembuatan Website, Android, Web Hosting Surabaya - Aksisoft MEDIA">
		<link rel="shortcut icon" href="{{ site.url }}/img/logo-persegi-panjang-century-gothic-300.png">
		<link rel="stylesheet" href="{{ site.url }}/css/icon.css">
		<link rel="stylesheet" href="{{ site.url }}/css/preload.min.css">
		<link rel="stylesheet" href="{{ site.url }}/css/plugins.min.css">
		<link rel="stylesheet" href="{{ site.url }}/css/style.red-500.min.css">
		<link rel="stylesheet" href="{{ site.url }}/css/width-boxed.min.css" id="ms-boxed" disabled>
	</head>
	<body>
		<div id="ms-preload" class="ms-preload">
			<div id="status">
    <div class="spinner">
					<div class="dot1"></div>
					<div class="dot2"></div>
    </div>
			</div>
		</div>
		<div class="sb-site-container">
			{% include themes/header.html %} 
			{% include themes/header-nav.html %} 

			{{ content }}

			<aside class="ms-footbar">
				<div class="container">
					<div class="row">
						<div class="col-md-4 ms-footer-col">
							<div class="ms-footbar-block">
								<h3 class="ms-footbar-title">Sitemap</h3>
								<ul class="list-unstyled ms-icon-list three_cols">
									<li><a href="{{ site.url }}">
											<i class="zmdi zmdi-home"></i> Home</a>
									</li>
									<li><a href="{{ site.url }}/hosting" title="Hosting Website Murah">
											<i class="zmdi zmdi-shield-check"></i> Hosting</a>
									</li>
									<li><a href="{{ site.url }}/hosting-murah" title="Hosting Website Murah">
											<i class="zmdi zmdi-globe"></i> Murah</a>
									</li>
								</ul>
							</div>
							<div class="ms-footbar-block">
								<h3 class="ms-footbar-title">Tentang</h3>
								<p class="">
									Web dan aplikasi dikelola personal dengan pengalaman Php, Node, Mysql, Mongodb, Python, bash script didukung git dan npm.
								</p>
							</div>
						</div>
						<div class="col-md-5 col-sm-7 ms-footer-col ms-footer-alt-color">
							<div class="ms-footbar-block">
								<h3 class="ms-footbar-title text-center mb-2">&nbsp;</h3>
								<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
								<!-- Banner kotak -->
								<ins class="adsbygoogle"
													style="display:block"
													data-ad-client="ca-pub-8797559827267652"
													data-ad-slot="5650876612"
													data-ad-format="auto"></ins>
								<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
							</div>
						</div>
						<div class="col-md-3 col-sm-5 ms-footer-col ms-footer-text-right">
							<div class="ms-footbar-block">
								<div class="ms-footbar-title">
									<span class="ms-logo ms-logo-red ms-logo-sm mr-1">A</span>
									<h3 class="no-m ms-site-title">Aksisoft
										<span>MEDIA</span>
									</h3>
								</div>
								<address class="no-mb">
									<p>
										<i class="color-danger-light zmdi zmdi-pin mr-1"></i> Griya Candi Asri </p>
									<p>
										<i class="color-warning-light zmdi zmdi-map mr-1"></i> Sidoarjo, Jawa Timur</p>
									<p>
										<i class="color-info-light zmdi zmdi-email mr-1"></i>
										<a href="mailto:{{ site.email }}">{{ site.email }}</a>
									</p>
									<p>
										<i class="color-royal-light zmdi zmdi-phone mr-1"></i>{{ site.whatsapp }} </p>
								</address>
							</div>
							<div class="ms-footbar-block">
								<h3 class="ms-footbar-title">Social Media</h3>
								<div class="ms-footbar-social">
									<a href="{{ site.facebook }}" class="btn-circle btn-facebook">
										<i class="zmdi zmdi-facebook"></i>
									</a>
									<a href="javascript:void(0)" class="btn-circle btn-twitter">
										<i class="zmdi zmdi-twitter"></i>
									</a>
									<a href="javascript:void(0)" class="btn-circle btn-youtube">
										<i class="zmdi zmdi-youtube"></i>
									</a>
									<br>
									<a href="javascript:void(0)" class="btn-circle btn-google">
										<i class="zmdi zmdi-google"></i>
									</a>
									<a href="javascript:void(0)" class="btn-circle btn-instagram">
										<i class="zmdi zmdi-instagram"></i>
									</a>
									<a href="javascript:void(0)" class="btn-circle btn-github">
										<i class="zmdi zmdi-github"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<footer class="ms-footer">
				<div class="container">
					<p>Copyright &copy; Aksisoft MEDIA Jasa Website, Android, Web Hosting</p>
				</div>
			</footer>
			<div class="btn-back-top">
				<a href="#" data-scroll="" id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised ">
					<i class="zmdi zmdi-long-arrow-up"></i>
				</a>
			</div>
		</div> <!-- site container -->
		<!-- sb-site-container -->
		<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
			<div class="sb-slidebar-container">
				<header class="ms-slidebar-header">
					<div class="ms-slidebar-login">
						<a href="http://member.aksisoft.com/clientarea.php" class="withripple" target="_blank">
							<i class="zmdi zmdi-account"></i> Login</a>
					</div>
					<div class="ms-slidebar-title">
						<div class="ms-slidebar-t">
							<span class="ms-logo ms-logo-sm">A</span>
							<h3>Aksisoft 
								<span>MEDIA</span>
							</h3>
						</div>
					</div>
				</header>
				<ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
					{% include themes/footer-nav.html %}
				</ul>
				<div class="ms-slidebar-social ms-slidebar-block">
					<h4 class="ms-slidebar-block-title">Social Links</h4>
					<div class="ms-slidebar-social">
						<a href="https://www.facebook.com/Aksisoft" target="_blank" 
									class="btn-circle btn-circle-raised btn-facebook">
							<i class="zmdi zmdi-facebook"></i>
							<div class="ripple-container"></div>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-twitter">
							<i class="zmdi zmdi-twitter"></i>
							<div class="ripple-container"></div>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-google">
							<i class="zmdi zmdi-google"></i>
							<div class="ripple-container"></div>
						</a>
						<a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-instagram">
							<i class="zmdi zmdi-instagram"></i>
							<div class="ripple-container"></div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<script src="{{ site.url }}/js/plugins.min.js"></script>
		<script src="{{ site.url }}/js/app.min.js"></script>
		<script src="{{ site.url }}/js/configurator.min.js"></script>
		<!-- <script src="{{ site.url }}/js/home-generic-7.js?t=1515849441"></script> -->
		<!-- <script src="{{ site.url }}/js/index.js?t=1515849441"></script> -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
		<script>
			$(document).ready(function () {
				var sec_REQURI = "home";
				$(".navbar-nav li").each(function () {
					// sama dengan seconds
					if ($(this).find("a").attr("data-name") == sec_REQURI) {
						console.log($(this).find("a").attr("data-name"));
						$(this).addClass('active');
					}
				})
				$('#formsubmit').submit(function () {
					$(".status").empty().html('menunggu terkirim ke server ...');
					$(this).ajaxSubmit({
						error: function (xhr) {
							console.log(xhr);
							$(".status").empty().html('Error: ' + xhr.status);
							return false;
						},
						success: function (response) {
							$("#formsubmit").empty().html('<p>Terima kasih sudah menghubungi kami.</p>');
							return false;
						}
					})
					return false;
				});
			});
		</script></body>
</html>